
@{
    ViewBag.Title = "Contacts";
}

<div class="well lead">
    <script type="text/javascript" src="https://secure.skypeassets.com/i/scom/js/skype-uri.js"></script>  
    <h1>Как с нами связаться</h1>
    <p>Вы можете связаться с нами с понедельника по пятницу с 9:00 до 19:00 любым удобным для вас способом</p>
    <p>+380963456487</p>
    <p>+380567765927</p>
    Скайп: 
    <div id="SkypeButton_Call_gorant-94_1">
        <script type="text/javascript">
            Skype.ui({
                "name": "dropdown",
                "element": "SkypeButton_Call_gorant-94_1",
                "participants": ["gorant-94"],
                "imageSize": 32
            });
        </script>
    </div>
    <h1>Как нас найти?</h1>
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2647.2159114895017!2d35.04060791590711!3d48.43319573850351!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x40dbe34ab395ba83%3A0x44a6262ae0025165!2z0JTQvdC10L_RgNC-0L_QtdGC0YDQvtCy0YHQutC40Lkg0J3QsNGG0LjQvtC90LDQu9GM0L3Ri9C5INCj0L3QuNCy0LXRgNGB0LjRgtC10YIg0LjQvC4g0J7Qu9C10YHRjyDQk9C-0L3Rh9Cw0YDQsA!5e0!3m2!1sru!2sru!4v1462451131626"
            width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>



   

</div>
