@{
    ViewBag.Title = "Заказ обработан";
}

<style>
    h2, p{
        color:#ffffff;
    }
</style>
<h2>Спасибо!</h2>
<p>Спасибо за выбор нашего магазина. Заказ в кратчайшие сроки будет отправлен в службу доставки.</p>