
@{
    ViewBag.Title = "ActiveStore.ua";
}
<div class="well lead">
    <img src="~/images/maxresdefault.jpg" width="700">
    <p><H1>Наши гарантии</H1>
Приобретая продукцию в нашем интернет-магазине, вы можете быть уверенны в успешности совершения сделки. Мы придерживаемся некоторых принципов, которые помогают нам вести успешную деятельность и удовлетворять клиентов: Исчерпывающая консультация при обращении к нам. Вы можете проконсультироваться с нашими менеджерами удобным способом. Если вопрос касается услуг магазина, свяжитесь с нами по телефону или воспользуйтесь услугой «Перезвоните мне». Если хотите заказать товар, просто жмите кнопку «Купить», и он уже у вас в корзине. Консультация вживую доступна в Киеве, Днепропетровске, Львове, Харькове. Своевременная доставка. На каждой странице с товарной позицией представлена информация относительно срока и стоимости доставки. Живете в Киеве и хотите получить заказ незамедлительно? Запросите доставить его срочно! Для киевлян действует адресная доставка, а при покупке топового товара она еще и бесплатна. Если вы заказываете из другого города Украины, можете воспользоваться экспресс-услугами почтовой службы «Нова пошта». Или же можете получить товар в почтомате ближайшего отделения ПАО КБ «ПриватБанк». Разнообразие способов оплаты. Вы можете купить товар, заплатив полную сумму или взяв его в кредит. Мы используем услуги самых надежных коммерческих банков страны. Любой товар можете оплатить наличными. На большинство товарных позиций распространяется безналичная форма оплаты. Высокое качество продукции и гарантийное обслуживание. Все товары подлежат гарантии, которую предоставляет производитель или непосредственно наш компьютерный интернет-магазин. Любое купленное изделие является работоспособным, не вскрытым и не содержит аппаратных и программных повреждений. «Купить кота в мешке» — не наш случай. Убедиться в комплектности и целостности изделия можете самолично во время покупки. Гарантийные обязательства ActiveStore обязуют наш сервисный центр бесплатно помочь клиенту в случае выявления неисправности. Разумеется, при условии соблюдения клиентом условий гарантии.</p>

</div>
